/* Padrão de cores
azul: #034AA9;
cinza: #3B3B3B;
branco: #fff;

*/

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #3B3B3B;
}
.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}
main {
    height: 100rem;
}

body h1 {
    align-items: center;
    text-align: center;
    font-size: 30px;
}
p {
    align-items: center;
    text-align: center;
    font-size: 18px;
}
.clicavel {
    text-decoration: none;
}

.clicavel:visited {
    color: #034AA9; /* Exemplo de cor para links visitados */
}

.logo-name {
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 5px;

    font-size: 20px;
}

header nav ul li img, .logo {
    width: 100px;
}

header {
    background-color: #ffffff;
    color: #034AA9;
    padding: 10px 0;
    display: flex;
    align-items: center;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #3B3B3B;
    text-decoration: none;
    transition: 0.2s;
}

nav ul li.active a {
    color: #034AA9;
}

nav ul li a:hover{
    color: #034AA9;
}

/* Home */
.produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.produto {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 30%;
    height: auto;
    margin: 10px;
    text-align: center;
    align-items: center;
}

.produto img {
    width: 80%;
    height: auto;

    border-radius: 10px;
}

.produto-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 10px;
}

.produto-info a {
    background-color: transparent;
    border: 2px solid #ffffff50;
    border-radius: 20px;
    padding: 15px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    transition: 0.2s;
    text-decoration: none;
}

.produto-info a:hover {
    background-color: #ffffff30;
    border: 2px solid #fff;
}

.produto:hover .produto-info {
    opacity: 1;
}

/* Sobre */
.container {
    display: flex;
    flex-direction: column;

    background-color: #3B3B3B;
    
    color: #fff;
    margin: 0;
}

.container .sobre {
    position: absolute;
    z-index: 1;
    width: 40%;
    margin-left: 50%;
    padding: 50px;
    /*
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: #ffffff30;
    */
}

/*
.container img {
    width: 30%;
    margin: 20px;
    border: 15px solid #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 18px 10px #14141458;
}
*/
.fundo {
    z-index: 0;
    position:relative;
    width: 50%;
    height: 50%;
    opacity: 0.2;
    margin: 0;
    padding: 0;
}

/* Contatos */

.contatos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

 .titulo, .sub-titulo {
    padding: 0px 20px;
    
}

.contatos div {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.contatos img {
    width: 60px;
    height: 100%;
}

.redes-sociais,.redes-sociais-i {
    display: flex;
    background-color: #10843a;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 15px;
    transition: 0.2s;
    margin: 10px;
}
.redes-sociais-i {
    background: linear-gradient(45deg, #192c8c, #241f87, #461865, #691444, #94133e, #930b0b, #93331d, #9a441a, #8b5a15, #b5933c);
}

.redes-sociais-i:hover{
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
}
.redes-sociais:hover {
    background-color: #25D366;
}
.redes-sociais img,.redes-sociais-i img {
    width: 50px;
    padding: 10px 10px 0px 0px;
}
#pageup {
    position: fixed;
    right: 10px;
    bottom: 20px;
    display: none;
    width: 80px;
    height: 80px;
    background-color: #3B3B3B;
    color: #fff;
    border: 4px solid #fff;
    border-radius: 50px;
    box-shadow: 1px 1px 28px 10px #fff;
}

#pageup img {
    width: 25px;
}

footer {
    background-color: #034AA9;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: inherit;  
    width: 100%;
    bottom: 0;
}

@keyframes slideIn {
    0% {
      transform: translateX(120%);
    }
    100% {
      transform: translateX(0);
    }
}
  
@keyframes slideOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(120%);
    }
}
  
#pageup {
    animation-fill-mode: forwards;
    animation-duration: 2s;
  }
  
  .slideIn {
    animation-name: slideIn;
  }
  
  .slideOut {
    animation-name: slideOut;
}



.login {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #034AA9;
    gap: 20px;
}
.login input {
    width: 20%;
    height: 30px;
    padding: 5px 15px;
    background-color: #e0e0e0;
    border: 0;
    border-radius: 20px;
    list-style: none;
    text-align: center;
}
.login input:focus {
    background-color: #99c3fa;
    outline: none;
  }
.login button {
    width: 15%;
    height: 50px;
    background-color: #034AA9;
    border: 0;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: BOLD;
    transition: 0.2s;
}

.login button:hover {
    scale: 1.1;
    background-color: #005fda;
}

.admin {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.form-admin {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80%;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 18px 10px #14141458;
}

.form-admin input {
    width: 70%;
    height: 30px;
    padding: 5px 15px;
    background-color: #e0e0e0;
    border: 0;
    border-radius: 20px;
    list-style: none;
    text-align: center;
}
.form-admin input:focus {
    background-color: #99c3fa;
    outline: none;
}


.form-admin  button {
    width: 80%;
    height: 50px;
    background-color: #034AA9;
    border: 0;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: BOLD;
    transition: 0.2s;
}

.form-admin button:hover {
    background-color: #005fda;
}

.form-admin a {
    width: 60%;
    background-color: #a90303;
    border: 0;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: BOLD;
    transition: 0.2s;
    text-decoration: none;
    bottom: 10px;
    padding: 12px 0px;
}

.form-admin a:hover {
    background-color: #da0000;
}

.form-admin .cancelar{
    background-color: #5d5d5d;
}

.form-admin .cancelar:hover {
    background-color: #a7a7a7;
}

.adicionar{
    display: flex;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    align-items: center;
    text-align: center;
}



/* Estilo para dispositivos móveis */
@media screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
    }
    header nav ul li {
        margin: 0 15px;
    }
    .produto {
        flex-direction: column;
        width: 100%;
    }
    .container img {
        width: 80%;
    }
    .login input {
        width: 80%;
    }
    .login button {
        width: 80%;
    }
    .form-admin {
        width: 80%;
    }
  }