{% extends "base.html" %}

{% block title %}Administrador{% endblock %}

{% block content %}
{% if adicionar %}
    <div class="adicionar">
        <div class="admin">
            <form class="form-admin" method="post" action="{{ url_for('adicionar_produto') }}" enctype="multipart/form-data">
                <h1>Adicionar produto</h1>
                <label for="titulo">Titulo</label>
                <input type="text" id="titulo" name="titulo" required>
                <label for="descricao">Descrição</label>
                <input type="text" id="descricao" name="descricao" required>
                <select id="tamanho" name="tamanho">
                    <option value="12">Aro 12</option>
                    <option value="14">Aro 14</option>
                    <option value="16">Aro 16</option>
                    <option value="20">Aro 20</option>
                    <option value="24">Aro 24</option>
                    <option value="26">Aro 26</option>
                    <option value="29">Aro 29</option>
                </select>
                <label for="marcha">Marcha</label>
                <select id="marcha" name="marcha">
                    <option value="Sem marcha">Sem Marcha</option>
                    <option value="18">18 velocidades</option>
                    <option value="21">21 velocidades</option>
                    <option value="24">24 velocidades</option>
                    <option value="27">27 velocidades</option>
                </select>
                <label for="freio">Tipo de freio</label>
                <select id="freio" name="freio">
                    <option value="Disco Hidráulico" selected>Disco Hidráulico</option>
                    <option value="Disco Mecânico">Disco Mecânico</option>
                    <option value="V-Brake">V-Brake</option>
                    <option value="Cantilever">Cantilever</option>
                    <option value="Ferradura">Ferradura</option>
                </select>
                <div class="input-cores">
                    <div>
                        <label for="cor_primaria">Selecione a cor primária:</label>
                        <input type="color" id="cor_primaria" name="cor_primaria" value="#ff0000">
                    </div>
                    <div>
                        <label for="cor_secundaria">Selecione a cor secundária:</label>
                        <input type="color" id="cor_secundaria" name="cor_secundaria" value="#ffffff">
                    </div>
                </div>
                <h3>Imagem</h3>
                <label class="input-file" for="imagem">
                    <img src="{{ url_for('static', filename='images/imagem.png') }}" alt="Telefone">
                </label>
                <input type="file" name="imagem" id="imagem" required><br><br>
                <button>Salvar</button>
                <a class="cancelar" href="{{ url_for('admin') }}">Cancelar</a>
            </form>
        </div>
    </div>
{% elif selecionar_editar %}
    {% if produtos %}
        <div class="adicionar">
            <table>
                <tr>
                    <th>ID</th>
                    <th>TITULO</th>
                    <th>DESCRIÇÃO</th>
                    <th>MARCHA</th>
                    <th>FREIO</th>
                    <th>COR 1</th>
                    <th>COR 2</th>
                    <th>IMAGEM</th>
                    <th></th>
                </tr>
                {% for produto in produtos %}
                <tr>
                    <td>{{ produto[0] }}</td>
                    <td>{{ produto[1] }}</td>
                    <td>{{ produto[2] }}</td>
                    <td>{{ produto[4] }}</td>
                    <td>{{ produto[5] }}</td>
                    <td><button style="background-color: {{ produto[6] }}; width: 30px; height: 30px;" disabled></button></td>
                    <td><button style="background-color: {{ produto[7] }}; width: 30px; height: 30px;" disabled></button></td>
                    <td>{{ produto[8] }}</td>
                    <form class="form-admin" method="post" action="{{ url_for('form_admin') }}">
                        <input type="text" class="invisivel" name="id" value="{{ produto[0] }}">
                        <td><button type="submit" name="editar"><img src="{{ url_for('static', filename='images/editar.png') }}" alt="Editar"></button></td>
                        
                    </form>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% elif editar %}
    <div class="adicionar">
        <div class="admin">
            <form class="form-admin" method="post" action="{{ url_for('adicionar_produto') }}" enctype="multipart/form-data">
                <h1>Editar produto</h1>
                <label for="titulo">Titulo</label>
                <input type="text" id="titulo" name="titulo" value="{{ produto[1] }}" required>
                <label for="descricao">Descrição</label>
                <input type="text" id="descricao" name="descricao" value=" {{ produto[2] }}" required>
                <label for="tamanho">Tamanho</label>
                <select id="tamanho" name="tamanho">
                    <option value=" {{ produto[3] }}">Aro {{ produto[3] }}</option>
                    <option value="12">Aro 12</option>
                    <option value="14">Aro 14</option>
                    <option value="16">Aro 16</option>
                    <option value="20">Aro 20</option>
                    <option value="24">Aro 24</option>
                    <option value="26">Aro 26</option>
                    <option value="29">Aro 29</option>
                </select>
                <label for="marcha">Marcha</label>
                <select id="marcha" name="marcha">
                    <option value=" {{ produto[4] }}">{{ produto[4] }} velocidades</option>
                    <option value="Sem marcha">Sem Marcha</option>
                    <option value="18">18 velocidades</option>
                    <option value="21">21 velocidades</option>
                    <option value="24">24 velocidades</option>
                    <option value="27">27 velocidades</option>
                </select>
                <label for="freio">Tipo de freio</label>
                <select id="freio" name="freio">
                    <option value=" {{ produto[5] }}">{{ produto[5] }}</option>
                    <option value="Disco Hidráulico">Disco Hidráulico</option>
                    <option value="Disco Mecânico">Disco Mecânico</option>
                    <option value="V-Brake">V-Brake</option>
                    <option value="Cantilever">Cantilever</option>
                    <option value="Ferradura">Ferradura</option>
                </select>
                
                <div class="input-cores">
                    <div>
                        <label for="cor_primaria">Selecione a cor primária:</label>
                        <input type="color" id="cor_primaria" name="cor_primaria" value="{{ produto[6] }}">
                    </div>
                    <div>
                        <label for="cor_secundaria">Selecione a cor secundária:</label>
                        <input type="color" id="cor_secundaria" name="cor_secundaria" value="{{ produto[7] }}">
                    </div>
                </div>
                <h3>Imagem</h3>
                <label id="imagem-editar" class="input-file" for="imagem">
                    <img src="{{ url_for('static', filename='produtos/' + produto[8]) }}" alt="Telefone">
                </label>
                <input type="file" name="imagem" id="imagem" value="produto[8]"><br><br>
                
                <button>Salvar</button>
                <a class="cancelar" href="{{ url_for('admin') }}">Cancelar</a>
            </form>
        </div>
    </div>
{% else %}
    <div class="admin">
        <form class="form-admin" method="post" action="{{ url_for('form_admin') }}">
            {% if current_user %}
                <h1>Bem vindo {{ current_user.id }}</h1>
            {% endif %}
            <button type="submit" name="adicionar">Adicionar produto</button>
            <button type="submit" name="selecionar_editar">Editar produto</button>
            <a href="{{ url_for('logout') }}">Logout</a>
        </form>
    </div>
{% endif %}
{% endblock %}