{% extends "base.html" %}

{% block title %}Contato{% endblock %}

{% block content %}
<h1>Contatos</h1>
<p>Entre em contato através das nossas redes sociais ou telefone</p>
<div class="contatos">
    <a class="clicavel" href="https://wa.me/553798571293" target="_blank">
        <button class="redes-sociais">
            <img src="{{ url_for('static', filename='images/whatsapp.png') }}" alt="WhatsApp">
            <h1>WhatsApp</h1>
        </button>
    </a>
    <a class="clicavel" href="https://www.instagram.com/eliton_pecas/" target="_blank">
        <button class="redes-sociais-i">
            <img src="{{ url_for('static', filename='images/instagram.png') }}" alt="Instagram">
            <h1>Instagram</h1>
        </button>
    </a>
    <a class="clicavel"><br><br><img src="{{ url_for('static', filename='images/telefone.png') }}" alt="Telefone">&nbsp;&nbsp;&nbsp;<h1>(37) 3333-2008</h1></a>
</div>
{% endblock %}
