{% extends "base.html" %}

{% block title %}Eliton Peças{% endblock %}

{% block content %}

{% if produtos %}
    <h1>Novidades</h1>
    <p>Para conferir nosso catálogo completo entre em <a class="clicavel" href="{{ url_for('contato') }}">contato.</a></p>
    <div class="produtos">
        {% for produto in produtos %}
            <div class="produto">
                <img src="{{ url_for('static', filename='produtos/' + produto[3]) }}" alt="Produto 1">
                <div class="produto-info">
                    <h2>{{ produto[1] }}</h2>
                    <p>{{ produto[2] }}</p>
                    
                    <a href="https://web.whatsapp.com/send/?l=pt_BR&phone=553798571293&text=Produto: {{ produto[0] }}-{{ produto[1] }}-{{ produto[2] }}" target="_blank">Falar com vendedor</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <h1>Horario de funcionamento</h1>
    <p>Segunda à Sexta - 08h00 às 18h00</p>
    <p>Sabado - 07h00 às 12h00</p>
{% endif %}
{% endblock %}
