{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<h1>Novidades</h1>
<p>Para conferir nosso catálogo completo entre em <a class="clicavel" href="{{ url_for('contato') }}">contato</a></p> 
{% if produtos %}
    <div class="produtos">
        {% for produto in produtos %}
            <div class="produto">
                <img src="{{ url_for('static', filename='images/' + produto[2] + '.jpg') }}" alt="Produto 1">
                <div class="produto-info">
                    <h2>{{ produto[0] }}</h2>
                    <p>{{ produto[1] }}</p>
                    <button>Informações</button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
